@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local("roboto"),
    url("../fonts/roboto-400.woff2") format("woff2"),
    url("../fonts/roboto-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("roboto"),
    url("../fonts/roboto-500.woff2") format("woff2"),
    url("../fonts/roboto-500.woff") format("woff");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("roboto"),
    url("../fonts/work-sans-700.woff2") format("woff2"),
    url("../fonts/work-sans-700.woff") format("woff");
}
